
@{
    ViewBag.Title = "Index";
}
@section header
{
    @Html.Partial("_Header")
}
<div class="home-wrapper">
    <div id="index-banner" class="index-banner has-background">
        <div class="container">
            <div class="text-banner">
                <h1>Nền tảng bán hàng online được sử dụng <span>nhiều nhất Việt Nam</span></h1>
                <hr class="visible-xs" />
                <p>
                    Hãy dùng cách <span>23,000+</span> doanh nghiệp và chủ shop đã chọn
                </p>
                <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'bizwebhome');" href="javascript:;">Dùng thử miễn phí</a>
            </div>
            <img src="~/Content/images/newindex/hero-arrow.svg" class="index-mouse" />
        </div>
    </div>
    <div class="bw-help">
        <div class="container">
            <h2 class="wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">Bizweb giúp bạn bán hàng dễ dàng hơn</h2>
            <p class="sub-title wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">Chúng tôi hỗ trợ bán hàng đa kênh</p>
            <hr class="horizontal-line wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s" />
            <div class="row wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="first-col">
                        <a class="image-container" href="/thiet-ke-website-ban-hang.html">
                            <img alt="thiết kế website bán hàng" title="thiết kế website bán hàng" src="~/Content/images/newindex/Web.svg" />
                        </a>
                        <p>
                            <a href="/thiet-ke-website-ban-hang.html">Thiết kế website bán hàng</a>
                        </p>
                    </div>
                </div>
                <hr class="visible-xs" />
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <div class="vertical-line"></div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="second-col">
                        <a class="image-container" href="/ban-hang-tren-facebook.html">
                            <img alt="bán hàng trên facebook" title="bán hàng trên facebook" src="~/Content/images/newindex/Facebook.svg" />
                        </a>
                        <p>
                            <a href="/ban-hang-tren-facebook.html">Bán hàng trên Facebook</a>
                        </p>
                    </div>
                </div>
            </div>
            <img class="arrow-bottom visible-xs" src="~/Content/images/newindex/arrow-down-1.png" />
            <div class="first-arrow-down hidden-xs"></div>
        </div>
    </div>
    <div class="design-website">
        <h2 class="wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">Tự thiết kế website bán hàng trong 30s</h2>
        <p class="sub-title wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">Tối ưu với công cụ tìm Google - hỗ trợ SEO dễ dàng</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 hidden-xs hidden-sm hidden-md first-col">
                    <img src="~/Content/images/newindex/ipad.png" class="wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s" />
                </div>
                <div class="col-lg-8 col-sm-12 col-md-12 col-xs-12 second-col">
                    <ul>
                        <li class="first-li wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">
                            <p>
                                <a href="https://themes.bizweb.vn/" target="_blank">Giao diện cực đẹp</a>
                            </p>
                            <hr />
                            <span>Với gần 200 giao diện được thiết kế đẹp mắt và chuyên nghiệp, Bizweb là sự lựa chọn hoàn hảo cho hơn 30 ngành nghề khác nhau.</span>
                        </li>
                        <li class="second-li wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">
                            <p>
                                <a href="https://apps.bizweb.vn/" target="_blank">Tính năng không giới hạn</a>
                            </p>
                            <hr />
                            <span>Kho ứng dụng Bizweb sẽ hỗ trợ bạn trong suốt quá trình bán hàng từ Marketing, quảng cáo, quản lý bán hàng cho đến chăm sóc khách hàng</span>
                        </li>
                        <li class="third-li wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">
                            <p>
                                <a href="https://www.bizweb.vn@Url.Action("MarketingSeo","Home")" target="_blank">Tùy chỉnh SEO tối ưu</a>
                            </p>
                            <hr />
                            <span>Website Bizweb được tối ưu để thân thiện với các công cụ tìm kiếm, đặc biệt là Google. Điều đó giúp thương hiệu của bạn nhanh chóng leo TOP Google.</span>
                        </li>
                        <li class="fourth-li wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">
                            <p>
                                <a href="https://experts.bizweb.vn/" target="_blank">Kết nối dịch vụ hỗ trợ</a>
                            </p>
                            <hr />
                            <span>Bizweb sẽ giúp bạn kết nối với các đơn vị hỗ trợ kinh doanh online như giao hàng, thanh toán trực tuyến, tư vấn Marketing, chụp ảnh sản phẩm.</span>
                        </li>
                    </ul>
                    <a class="btn-registration" onclick="openCreateStorePopup(this, null, false, 'bizwebhome');" href="javascript:;">Dùng thử website miễn phí <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <img class="index-mouse" src="~/Content/images/newindex/arrow-blue.png" style="display: none;" />
                </div>
            </div>
        </div>
    </div>
    <div class="new-index-comments">
        <div class="container">
            <h2 class="wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">23,000+ khách hàng nói về Bizweb</h2>
            <p class="sub-title wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">Sự hài lòng của khách hàng chính là thành công lớn nhất của chúng tôi</p>
            <div class="row row-item wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 col-lg-push-5 col-md-push-5 col-sm-push-5 second-col">
                    <img src="~/Content/images/newindex/bee-image.png" class="cursor-pointer" />
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 col-lg-pull-7 col-md-pull-7 col-sm-pull-7 first-col">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide bee-slide">
                                <div class="item-comment">
                                    <img class="quote" src="~/Content/images/newindex/open-quote.png" />
                                    <p class="comment">
                                        Bizweb giúp chúng tôi thay đổi cách bán hàng, không chỉ bán hàng trực tiếp như trước đây mà còn bán trên website, Facebook và Sendo nữa. Khách hàng cũng nhiều hơn!
                                    </p>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-4">
                                            <img class="customer-image" src="~/Content/images/newindex/bee-customer.png" />
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-8">
                                            <p class="customer-name">Bà: Tống Ngọc Ánh</p>
                                            <p class="website">
                                                <a href="http://www.beemart.vn" rel="nofollow" target="_blank">www.beemart.vn</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide kangaroo-slide">
                                <div class="item-comment">
                                    <img class="quote" src="~/Content/images/newindex/open-quote.png" />
                                    <p class="comment">
                                        Là đối tác lâu năm của Bizweb, tôi nhận thấy một phong cách làm việc chuyên nghiệp, nhiệt tình ở các bạn. Chúc Bizweb sẽ ngày một phát triển hơn nữa.
                                    </p>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-4">
                                            <img class="customer-image" src="~/Content/images/newindex/kangaroo-customer.png" />
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-8">
                                            <p class="customer-name">Chị: Ngô Tuyết Nhung </p>
                                            <p class="website">
                                                <a href="http://www.kangaroohanoi.vn/" rel="nofollow" target="_blank">www.kangaroohanoi.vn</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide gento-slide">
                                <div class="item-comment">
                                    <img class="quote" src="~/Content/images/newindex/open-quote.png" />
                                    <p class="comment">
                                        Website Bizweb rất dễ sử dụng. Tuy không phải là một lập trình viên chuyên nghiệp nhưng tôi vẫn có thể tự quản trị website của mình.
                                    </p>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-4">
                                            <img class="customer-image" src="~/Content/images/newindex/gento-customer.png" />
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-8">
                                            <p class="customer-name">Ông: Nguyễn Minh Đức</p>
                                            <p class="website">
                                                <a href="http://gento.vn/" rel="nofollow" target="_blank">http://gento.vn/</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="horizontal" />
                        <div class="swiper-button-prev">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <div class="swiper-button-next">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                </div>

            </div>
            <a class="button-webthamkhao" href="/website-tham-khao.html">Website của khách hàng khác</a>
            <img class="arrow-bottom visible-xs" src="~/Content/images/newindex/arrow-down-2.png" />
            <div class="second-arrow-down hidden-xs"></div>
        </div>
    </div>


    <div class="news-aboutus">
        <div class="container">
            <h2 class="wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">
                <a href="/bao-chi-noi-ve-bizweb.html">Báo chí nói về Bizweb</a>
            </h2>
            <div class="row wow fadeIn" data-wow-duration="4" data-wow-delay="0.5s">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 item">
                    <div class="news-item">
                        <a href="/bao-chi-noi-ve-bizweb/Nam-2017-thuong-mai-dien-tu-se-them-nhieu-bai-binh-nhu-deca-beyeu-lingo-a1288.html">
                            <img class="" src="https://www.bizweb.vn/Thumbnail/ExtraLarge/Upload/News/2017/2/3/f0f6d15ae37f6420b8ca04367be4b9f8.jpg" alt="Nam-2017-thuong-mai-dien-tu-se-them-nhieu-bai-binh-nhu-deca-beyeu-lingo-a1288">
                        </a>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <ul>
                                    <li>
                                        <div class="published-date">3</div>
                                    </li>
                                    <li>
                                        <div class="published-dayofweek">Th 2</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 article-col">
                                <a href="/bao-chi-noi-ve-bizweb/Nam-2017-thuong-mai-dien-tu-se-them-nhieu-bai-binh-nhu-deca-beyeu-lingo-a1288.html"
                                   class="article-title" target="_blank">
                                    Năm 2017, thương mại điện tử sẽ th&#234;m nhiều &#39;bại binh&#39; như deca, beyeu, lingo…?
                                </a>
                            </div>
                        </div>
                        <span class="source-name">Cafebiz</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 item">
                    <div class="news-item">
                        <a href="/bao-chi-noi-ve-bizweb/Muo-n-cho-n-ten-mie-n-to-t-nha-t-cho-website-ba-n-ha-ng-ha-y-nho-5-die-u-sau-a1287.html">
                            <img class="" src="https://www.bizweb.vn/Thumbnail/ExtraLarge/Upload/cach-chon-ten-mien-tot-nhat.jpeg" alt="Muo-n-cho-n-ten-mie-n-to-t-nha-t-cho-website-ba-n-ha-ng-ha-y-nho-5-die-u-sau" />
                        </a>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <ul>
                                    <li>
                                        <div class="published-date">11</div>
                                    </li>
                                    <li>
                                        <div class="published-dayofweek">Th 1</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 article-col">
                                <a href="/bao-chi-noi-ve-bizweb/Muo-n-cho-n-ten-mie-n-to-t-nha-t-cho-website-ba-n-ha-ng-ha-y-nho-5-die-u-sau-a1287.html" class="article-title" target="_blank">
                                    Mu&#244;́n chọn t&#234;n mi&#234;̀n t&#244;́t nh&#226;́t cho website bán hàng hãy nhớ 5 đi&#234;̀u sau
                                </a>
                            </div>
                        </div>
                        <span class="source-name">Vnreview</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 item">
                    <div class="news-item">
                        <a href="/bao-chi-noi-ve-bizweb/Khong-phai-ten-mien-com-net-day-moi-la-ten-mien-hot-nhat-hien-nay-a1286.html">
                            <img class="" src="https://www.bizweb.vn/Thumbnail/ExtraLarge/Upload/1-1483935782062-crop-1483935790693.jpg" alt="Khong-phai-ten-mien-com-net-day-moi-la-ten-mien-hot-nhat-hien-nay" />
                        </a>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <ul>
                                    <li>
                                        <div class="published-date">10</div>
                                    </li>
                                    <li>
                                        <div class="published-dayofweek">Th 1</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 article-col">
                                <a href="/bao-chi-noi-ve-bizweb/Khong-phai-ten-mien-com-net-day-moi-la-ten-mien-hot-nhat-hien-nay-a1286.html" class="article-title" target="_blank">
                                    Kh&#244;ng phải t&#234;n miền .com, .net, đ&#226;y mới l&#224; t&#234;n miền hot nhất hiện nay?
                                </a>
                            </div>
                        </div>
                        <span class="source-name">Cafebiz</span>
                    </div>
                </div>
            </div>
            <a href="https://www.bizweb.vn/bao-chi-noi-ve-bizweb.html" class="see-more">Xem thêm báo chí nói về Bizweb</a>
        </div>
    </div>

    <div class="bw-partner hidden-xs">
        <div class="container">
            <ul>
                <li>
                    <a target="_blank" href="https://www.bizweb.vn/bao-chi-noi-ve-bizweb/Nhan-tai-Dat-Viet-da-mang-lai-cho-Bizweb-nhung-buoc-ngoat-quan-trong-a189.html">
                        <img src="~/Content/images/logo_Dantri_Mau.png" alt="Logo dân trí" />
                    </a>
                </li>
                <li class="cfbiz">
                    <a target="_blank" rel="nofollow" href="http://cafebiz.vn/thi-truong/tran-trong-tuyen-ceo-cong-ty-cp-cong-nghe-dkt-thay-doi-hay-la-chet-20160127213302454.chn">
                        <img src="~/Content/images/cafebiz-logo.png" alt="Logo cafebiz" />
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.bizweb.vn/bao-chi-noi-ve-bizweb/Loi-the-lon-tu-kinh-doanh-thoi-trang-truc-tuyen-a230.html">
                        <img src="~/Content/images/logo_vtv_mau.png" alt="Logo vtv" />
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="nofollow" href="http://www.vietnamplus.vn/bizweb-thoi-trang-dan-dau-xu-huong-kinh-doanh-online-6-thang-dau-nam/397110.vnp">
                        <img src="~/Content/images/logo_VietnamPlus_mau.png" alt="Logo VietNamPlus" />
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.bizweb.vn/bao-chi-noi-ve-bizweb/Website-van-la-kenh-ban-hang-online-hieu-qua-nhat-a245.html">
                        <img src="~/Content/images/logo_vnxpress_mau.png" alt="Logo VnXpress" />
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.bizweb.vn/bao-chi-noi-ve-bizweb/Phien-ban-moi-cua-Bizweb-ho-tro-ban-hang-tren-Zalo-a218.html">
                        <img src="~/Content/images/logo_ictnews_mau.png" alt="Logo ICT NEWS" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bw-staff">
        <div class="container">
            <h2 class="wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">Làm cho việc bán hàng trở nên dễ dàng</h2>
            <p class="sub-title wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">Chúng tôi bắt đầu sứ mệnh này từ năm 2008</p>
            <div class="row wow fadeIn" data-wow-duration="3" data-wow-delay="0.5s">
                <div class="col-md-4 col-sm-4 col-xs-6 item-col">
                    <img src="~/Content/images/newindex/single-people.png" alt="" />
                    <hr />
                    <p>+500</p>
                    <span>Nhân viên</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 item-col">
                    <img src="~/Content/images/newindex/people.png" alt="" />
                    <hr />
                    <p>+23,000</p>
                    <span>Khách hàng</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 item-col">
                    <img src="~/Content/images/newindex/handshake.png" alt="" />
                    <hr />
                    <p>+40</p>
                    <span>Đối tác</span>
                </div>
            </div>
            <p class="hotline">
                Hotline <strong>1900 6750</strong>
            </p>
        </div>
    </div>
    <div class="block-register">
        <div class="container">
            <h3>Hơn 23,000 doanh nghiệp và chủ shop đang bán hàng như thế nào ?</h3>
            <span class="sub-text">Đăng ký dùng thử Bizweb miễn phí 15 ngày để khám phá</span>
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 button-block">
                <input id="site_name_bottom" class="input-site-name hidden-xs" type="text" value="" placeholder="Nhập tên cửa hàng/doanh nghiệp của bạn" onkeypress="return onInputStoreName(event, this)" />
                <a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" onclick="openCreateStorePopup(this, null, false, 'bizwebhome');" href="javascript:;">Dùng thử miễn phí</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var commentSwiper = new Swiper('.new-index-comments .swiper-container', {
            autoplayDisableOnInteraction: false,
            slidesPerView: 1,
            grabCursor: true,
            nextButton: '.new-index-comments .swiper-button-next',
            prevButton: '.new-index-comments .swiper-button-prev',
            loop: true,
            paginationClickable: true,
            autoplay: 5000,
            onSlideChangeStart: function (swiper) {
                if ($('.bee-slide').hasClass('swiper-slide-active')) {
                    $('.new-index-comments .cursor-pointer').attr('src', '/Content/images/newindex/bee-image.png');
                } else if ($('.kangaroo-slide').hasClass('swiper-slide-active')) {
                    $('.new-index-comments .cursor-pointer').attr('src', '/Content/images/newindex/kangaroo-image.png');
                } else {
                    $('.new-index-comments .cursor-pointer').attr('src', '/Content/images/newindex/gento-image.png');
                }
            }
        });

    </script>

    <script>
        function commentSwiper() {
            if ($(window).width() < 768) {
                var commentSwiper = new Swiper('.news-aboutus .swiper-container', {
                    autoplayDisableOnInteraction: false,
                    slidesPerView: 1,
                    grabCursor: true
                });
            } else if ($(window).width() > 1199) {
                var commentSwiper = new Swiper('.news-aboutus .swiper-container', {
                    autoplayDisableOnInteraction: false,
                    slidesPerView: 3,
                    grabCursor: true,
                    spaceBetween: 30
                });
            } else {
                var commentSwiper = new Swiper('.news-aboutus .swiper-container', {
                    autoplayDisableOnInteraction: false,
                    slidesPerView: 2,
                    grabCursor: true,
                    spaceBetween: 30
                });
            }
        }

        $(function () {
            commentSwiper();
            $(window).resize(function () {
                commentSwiper();
            });
        });
    </script>
}

