<div id="header" class="index header">
    <div class="container">
        <div class="col-sm-4 col-md-2 hidden-xs hidden-md hidden-sm no-padding main-logo">
            <a id="logo" href="/"> 
                <img src="/Content/images/newlogo/bizweb_logo_new.svg" width="190" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-5 col-lg-2 hidden-lg no-padding btn-menu">
            <button type="button" class="btn-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
            <a class="small-logo hidden-lg" href="/">
                <img src="/Content/images/newlogo/bizweb_logo_new.svg" width="190" alt="" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-7 col-lg-10 text-right no-padding">
            <ul class="main-menu hidden-sm hidden-xs hidden-md ">
                <li class="sub-lv2">
                    <a class="menu-item " href="#" style="margin-left:0px">Kênh bán hàng</a>
                    <ul class="chanel_sales">
                        <li class="icontop"></li>
                        <li class="">
                            <a href="/thiet-ke-website-ban-hang.html" style="margin-top:13px;">Bán trên website Bizweb</a>
                        </li>
                        <li class="">
                            <a href="/ban-hang-tai-cua-hang.html">Bán tại cửa hàng</a>
                        </li>
                        <li class="">
                            <a href="/ban-hang-tren-facebook.html">Bán trên facebook</a>
                        </li>
                        <li class="">
                            <a href="/ban-hang-tren-website-khac.html">Bán trên website khác</a>
                        </li>
                        <li class="">
                            <a href="/ban-hang-tren-sendo.html">Bán trên Sendo</a>
                        </li>
                        <li class="">
                            <a href="/ban-hang-tren-zalo.html" style="margin-bottom:15px">Bán trên Zalo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-item " href="/bang-gia.html">Bảng giá</a>
                </li>
                <li>
                    <a class="menu-item" href="https://themes.bizweb.vn/">Kho giao diện</a>
                </li>
                <li>
                    <a target="_blank" class="menu-item" href="https://blog.bizweb.vn">
                        Blog
                    </a>
                </li>
                <li class="sub-lv2">
                    <a class="menu-item " href="#">Thêm</a>
                    <ul>
                        <li class="icontop"></li>
                        <li class="top-row ">
                            <a href="/tinh-nang-noi-bat.html">Tính năng nổi bật</a>
                        </li>
                        <li class="top-row left-column">
                            <a target="_blank" href="http://support.bizweb.vn/">
                                Trợ giúp
                            </a>
                        </li>
                        <li class="">
                            <a href="https://apps.bizweb.vn">
                                Kho ứng dụng
                            </a>
                        </li>
                        <li class="left-column">
                            <a href="https://docs.bizweb.vn">
                                Tài liệu nhà phát triển
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="https://www.bizweb.vn/website-tham-khao.html">
                                Khách hàng
                            </a>
                        </li>
                        <li class="left-column ">
                            <a href="/doi-tac.html">Trở thành đối tác</a>
                        </li>
                        <li>
                            <a href="https://experts.bizweb.vn/">Chuyên gia Bizweb</a>
                        </li>

                        <li class="left-column ">
                            <a href="/thiet-ke-website-mien-phi.html">
                                Website miễn phí
                            </a>
                        </li>
                        <li class="">
                            <a href="https://www.bizweb.vn/bao-chi-noi-ve-bizweb.html">
                                Báo chí nói về Bizweb
                            </a>
                        </li>
                        <li class="left-column ">
                            <a href="/ten-mien-mien-phi.html">
                                Tên miền miễn phí
                            </a>
                        </li>
                        <li class="">
                            <a href="/ve-chung-toi.html">
                                Về chúng tôi
                            </a>
                        </li>
                        <li class="left-column ">
                            <a href="/lien-he.html">
                                Liên hệ
                            </a>
                        </li>
                        <li class="bottom-row">
                            <a target="_blank" href="http://khuyenmai.bizweb.vn/thang2-2017/?campaign=popup-khuyenmai0217&utm_source=bizweb&utm_campaign=khuyenmai0217&utm_medium=popup" rel="nofollow">
                                Khuyến mại
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="user-menu">
                <li>
                    <a class="menu-item hidden-xs" href="javascript:openLoginPopup();"><strong>Đăng nhập</strong></a>
                </li>
                <li>
                    <a class="btn-registration event-Bizweb-Free-Trial-form-open" onclick="openCreateStorePopup(this);" href="javascript:;">Tạo website</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="list_chanel_sales list_landing">
                <a class="collapsed" data-toggle="collapse" href="#collapse1">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Kênh bán hàng
                        </h4>
                    </div>
                </a>
                <img class="btn-down" src="~/Content/images/icon-submenu.png" />
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body" style="border-top: 1px solid #eeeeee;padding-top:20px"><a class="menu-item" href="/ban-hang-tren-website-bizweb.html">Bán trên website Bizweb</a></div>
                    <div class="panel-body"><a class="menu-item" href="/ban-hang-tai-cua-hang.html">Bán tại cửa hàng</a></div>
                    <div class="panel-body"><a class="menu-item" href="/ban-hang-tren-facebook.html">Bán trên facebook</a></div>
                    <div class="panel-body"><a class="menu-item" href="/ban-hang-tren-website-khac.html">Bán trên website khác</a></div>
                    <div class="panel-body"><a class="menu-item" href="/ban-hang-tren-sendo.html">Bán trên Sendo</a></div>
                    <div class="panel-body" style="padding-bottom:20px"><a class="menu-item" href="/ban-hang-tren-zalo.html">Bán trên Zalo</a></div>
                </div>
            </li>
            <li>
                <a class="menu-item" href="/bang-gia.html">Bảng giá</a>
            </li>
            <li>
                <a class="menu-item" href="https://themes.bizweb.vn/">Kho giao diện</a>
            </li>
            <li>
                <a target="_blank" class="menu-item" href="https://blog.bizweb.vn">
                    Blog
                </a>
            </li>
            <li class="list_chanel_sales list_more_site">
                <a class="collapsed" data-toggle="collapse" href="#collapse2">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Thêm
                        </h4>
                    </div>
                </a>
                <img class="btn-down" src="~/Content/images/icon-submenu.png" />
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body" style="border-top: 1px solid #eeeeee;padding-top:20px"><a class="menu-item" href="/tinh-nang-noi-bat.html">Tính năng nổi bật</a></div>
                    <div class="panel-body"><a target="_blank" class="menu-item" href="http://support.bizweb.vn/">Trợ giúp</a></div>
                    <div class="panel-body"><a target="_blank" class="menu-item" href="https://apps.bizweb.vn">Kho ứng dụng</a></div>
                    <div class="panel-body"><a target="_blank" class="menu-item" href="https://docs.bizweb.vn">Tài liệu nhà phát triển</a></div>
                    <div class="panel-body"><a class="menu-item" href="/website-tham-khao.html">Khách hàng</a></div>
                    <div class="panel-body"><a class="menu-item" href="/doi-tac.html">Trở thành đối tác</a></div>
                    <div class="panel-body"><a target="_blank" class="menu-item" href="https://experts.bizweb.vn/">Chuyên gia Bizweb</a></div>
                    <div class="panel-body"><a class="menu-item" href="/thiet-ke-website-mien-phi.html">Website miễn phí</a></div>
                    <div class="panel-body"><a class="menu-item" href="/bao-chi-noi-ve-bizweb.html">Báo chí nói về Bizweb</a></div>
                    <div class="panel-body"><a class="menu-item" href="/ten-mien-mien-phi.html">Tên miền miễn phí</a></div>
                    <div class="panel-body"><a class="menu-item" href="/ve-chung-toi.html">Về chúng tôi</a></div>
                    <div class="panel-body"><a class="menu-item" href="http://khuyenmai.bizweb.vn/thang2-2017/?campaign=popup-khuyenmai0217&utm_source=bizweb&utm_campaign=khuyenmai0217&utm_medium=popup" rel="nofollow" target="_blank">Khuyến mại</a></div>
                    <div class="panel-body" style="padding-bottom:20px"><a class="menu-item" href="/lien-he.html">Liên hệ</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" async>
    $(document).ready(function () {
        $('.list_chanel_sales').click(function () {
            rotateArrow($(this));
        });
        function rotateArrow(clickElement) {
            if (!$(clickElement).find('.in').length) {
                $(clickElement).find('.btn-down').css({
                    '-moz-transform': 'rotate(90deg)',
                    '-webkit-transform': 'rotate(90deg)',
                    '-o-transform': 'rotate(90deg)',
                    '-ms-transform': 'rotate(90deg)',
                    'transform': 'rotate(90deg)'
                });
            }
            else {
                $(clickElement).find('.btn-down').css({
                    '-moz-transform': 'rotate(0deg)',
                    '-webkit-transform': 'rotate(0deg)',
                    '-o-transform': 'rotate(0deg)',
                    '-ms-transform': 'rotate(0deg)',
                    'transform': 'rotate(0deg)'
                });
            }
        }
    });
    function onResize() {
        var ww = $(window).width();
        if (ww <= 440) {
            if ($("#header").hasClass("index") || $("#header").hasClass("aqua") || $("#header").hasClass("newbaogia")) {
                $("#header #logo img").attr("src", "/Content/images/bizweb_new_logo_short.png");
                $("#header .small-logo img").attr("src", "~/Content/images/bizweb_new_logo_short.png");
            }
            else {
                $("#header #logo img").attr("src", "/Content/images/bizweb_old_logo_short.png");
                $("#header .small-logo img").attr("src", "/Content/images/bizweb_old_logo_short.png");
            }
        }
        else {
            if ($("#header").hasClass("index") || $("#header").hasClass("aqua") || $("#header").hasClass("newbaogia")) {
                $("#header #logo img").attr("src", "/Content/images/newlogo/bizweb_logo_new.svg");
                $("#header .small-logo img").attr("src", "/Content/images/newlogo/bizweb_logo_new.svg");
            }
            else {
                $("#header #logo img").attr("src", "/Content/images/newlogo/bizweb_logo_old.svg");
                $("#header .small-logo img").attr("src", "/Content/images/newlogo/bizweb_logo_old.svg");
            }
        }
    }
    $(window).resize(function () {
        onResize();
    });
    $(window).trigger('resize');
    function isVisibleScrollbar() {
        var offset = $("#header").offset();
        var curWin = $(window);
        var top = curWin.scrollTop() - 51;
        if (top >= 0)
            return true;
        return false;
    }
    $(function () {
        $("#header:not(.index):not(.aqua):not(.newbaogia) #logo img").attr("src", "~/Content/images/newlogo/bizweb_logo_old.svg");
        $("#header.newbaogia #logo img").attr("src", "~/Content/images/bizweb_price_logo.png");
    });
</script>
 